@font-face {
    font-family: KnuthSR;
    src:url("fonts/cmu.serif-roman.ttf");
  }

@keyframes linkanim{
    0% {color: #0157d7;}
    100% {color: #ffffff;}
}

@keyframes linkmapanim{
    0% {color: #004080;}
    100% {color: #ffffff;}
}

body{
    background-image: url('images/background.png');
    background-size: 100%;
    font-family: 'KnuthSR';
    font-size: 14pt;
}

h1{
    color: #004080;
}

h2{
    color: #004080;
}

h3{
    color: #004080;
}

h4{
    color: #004080;
}

hr {
        height: 1.5px;
        background-color: #004080;
        border: none;
}

li{
    list-style-position: outside;
}

a {
    color: #0157d7;
    text-decoration: none;
}

a:hover{
    animation: linkanim .5s cubic-bezier(1,0,0,1) infinite;
}

b{
    color: #004080;
}

.content{
    display: block;
    margin-top: 6.5%;
    margin-left: 10%;
    margin-right: 3%;
    margin-bottom: 1.3%;
}

.box{
    background-color: #ffffff;
    border: #004080 3px solid;
    border-radius: 10px;
    box-shadow: 10px 10px #004080;
    padding: 10pt;
    margin-bottom: 15pt;
}

.boxhalfcontainer{
	display: flex;
	width: 100%;
}

.boxhalf{
    width: 50%;
	display: block;
    border: #004080 3px solid;
	border-radius: 10px;
    box-shadow: 10px 10px #004080;
    padding: 10pt;
    margin-right: 13px;
    margin-bottom: 15pt;
	text-align: start;
}

.title{
    color: #004080;
    font-weight: bold;
}

.map{
    position: fixed;
    z-index: 2;
    width:100%;
    top:0%;
    left:0%;
    padding: 7pt;
    border-top: #004080 15px solid;
    border-bottom: #004080 3px solid;
    background-color: #ffffff;
    font-size: 16pt;
    font-weight: bold;
    color: #004080;
    text-align: center;
    letter-spacing: 3pt;
}

.map a{
    color: #004080;
}

.map a:hover{
    animation: linkmapanim .5s cubic-bezier(1,0,0,1) infinite;
}

.flc{
    text-align: center;
}

.fanos{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.featured{
    display:inline-block;
    width:60pt;
    background-color: red;
    color: #ffffff;
    text-shadow: 1px 1px 0px #004080;
    font-weight: bold;
    text-align: center;
    border: #004080 2px solid;
    border-radius: 20px;
    padding: .3%;
}

.new{
    display: inline-block;
    width:60pt;
    background-color: rgb(255, 149, 0);
    color: #ffffff;
    text-shadow: 1px 1px 0px #004080;
    font-weight: bold;
    text-align: center;
    border: #004080 2px solid;
    border-radius: 20px;
    padding: .3%;
}

.ongoing{
    display: inline-block;
    width:60pt;
    background-color: rgb(7, 227, 216);
    color: #ffffff;
    text-shadow: 1px 1px 0px #004080;
    font-weight: bold;
    text-align: center;
    border: #004080 2px solid;
    border-radius: 20px;
    padding: .3%;
}


.box-noborder{
    display: flex;
    padding: 1%;
}

.dropdown {
    position: relative;
}
  
.dropdown-content {
    padding: 10px 0;
    display: none;
    width: 400px;
    max-width: 70vw;
    font-size: 14pt;
    position: absolute;
    border: #004080 3px solid;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 1;
}
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-size: 200% 100%;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropup {
    position: relative;
}
  
.dropup-content {
    padding: 10px 0;
    display: none;
    width: 400px;
    max-width: 70vw;
    font-size: 14pt;
    position: absolute;
    bottom: calc(100%);
    border: #004080 3px solid;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 1;
}
  
.dropup-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-size: 200% 100%;
}
  
.dropup:hover .dropup-content {
    display: block;
}

#OPEN {
    color: #0157d7;
    margin-right: 2pt;
    font-size: 12pt;
}

@media screen and (max-width: 1300px) {
    .content{
        margin-top: 8%;
    }
}

@media screen and (max-width: 967px) {
    .content{
        margin-top: 12%;
    }

    #mapcollapse{
        display: none;
    }

    .boxhalfcontainer{
		display: block;
	}

	.boxhalf{
		width: 90%;
	}
}

@media screen and (max-width: 660px) {
    .content{
        margin-top: 16%;
    }
}

@media screen and (max-width: 400px) {
    .content{
        margin-top: 22%;
    }
}