@font-face {
    font-family: GFSNeoh;
    src:url("gradclubfiles/GFSNeoh/GFSNeohellenic.ttf");
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(gradclubfiles/gradclubback.png) repeat-y;
    background-size: 100%;
	text-align: justify;
	font-family: "GFSNeoh";
	font-size: 20px;
}

h1{
    font-size: 50px;
    color: rgb(112, 146, 190);
}

h4{
    color: rgb(112, 146, 190);
}

a {
	color: rgb(112, 146, 190);
}

a:hover{
    color: rgb(153,217,234);
}

b{
    color: rgb(112, 146, 190);
}

.main {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 4%;
}

.navbar {
    overflow: hidden;
    display: block;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 50px;
    background-color: rgb(153,217,234);
    position: fixed;
    right: 3%;
    bottom: 6%;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.navbar span {
    float: left;
    display: block;
    border-radius: 50px;
    color: rgb(0,0,0);
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 8px 0px 10px;
    text-decoration: none;
}
  
.navbar span:hover {
    background: rgb(255,255,255);
}

.navbar a {
    float: left;
    display: block;
    border-radius: 50px;
    color: rgb(0,0,0);
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 12px 0px 10px;
    text-decoration: none;
}
  
.navbar a:hover {
    background: rgb(255,255,255);
}

.boxtitle{
    display: block;
    padding: 10px;
    border-left: rgb(112, 146, 190) 3px solid;
    color: rgb(112, 146, 190);
    font-size: 25px;
    font-weight: bold;
}

.box{
    display: block;
    padding: 10px;
}

.present{
    width: 100%;
    margin: 10px;
}

.present th{
    width: 20%;
    border-right: rgb(112, 146, 190) 3px solid;
    color: rgb(112, 146, 190);
    padding: 10px;
    font-weight: normal;
    text-align: center;
}

#abstract{
    vertical-align: top;
}

.present #presentLtop{
    font-size: 60px;
}

.present #presentLbot{
    font-size: 25px;
}

.present td{
    width: 77%;
    vertical-align: top;
    padding: 10px;
}

.present #presentRtop{
    font-size: 25px;
    color: rgb(112, 146, 190);
}

.present #presentRbot{
    font-size: 20px;
}

#footer{
    text-align: right;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(239,228,176);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(112, 146, 190);
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: rgb(255,255,255);
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 900px) {
    body{
        text-align: left;
        font-size: 18px;
    }

    h1{
        font-size: 40px;
    }

    .present #presentLtop{
        font-size: 40px;
    }
    
    .present #presentLbot{
        font-size: 18px;
    }

    .present #presentRtop{
        font-size: 25px;
        color: rgb(112, 146, 190);
    }
    
    .present #presentRbot{
        font-size: 18px;
    }

    #logo{
        width: 100%;
    }

    #poster{
        width: 100%;
    }

    .navbar a{
        padding: 10px 0px 10px;
    }

    .overlay a{
        font-size: 25px;
    }
}