.mechania{
  position: absolute;
  top: 20%;
  left: 47%;
}
.darklands{
  position: absolute;
  top: 10%;
  left: 27%;
}
.drakenslya{
  position: absolute;
  top: 17%;
  left: 58%;
}
.regnumignis{
  position: absolute;
  top: 21%;
  left: 62%;
}