body {
	background-color: #ffffff;
	color:#000000;
	font-family: "Computer Modern Serif", serif;
	font-size:11px;
	margin:0;
	padding:0;
}

a:link,a:visited {
	color: rgb(0, 102, 255); 
	font-weight: 
	bold; text-decoration:none;
}

a:hover {
	color: rgb(0, 179, 255);
	text-decoration:underline;
}

.content_title {
	position: absolute;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 14px;
	margin-bottom: 1px;
	font-weight:bold;
	width: 400px;
	color: rgb(0, 0, 0);
	background: url(header.gif) no-repeat top left;
	height: 21px;
}

#content_title a, #content_title a:visited {
	color: #ffffff;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 12px;
	padding-left: 13px;
	font-size:12px;
	color: rgb(0, 0, 0);
	background: url(rightheader.gif) no-repeat top left;
	height: 20px;
}

#headtitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-left: 20px;
	color: rgb(0, 0, 0);
	height: 73px;
	background: url(logo.gif) no-repeat;
}

#logo {
padding-top: 25px;	
}

#columns {
	float: left;
	width: 150px;
}

#columns a, #columns a:visited {
	display: block;
	background: url(menulink.gif);
	background-size: 150px;
	padding-top: 10px;
	padding-left: 12px;
	height: 20px;
	color: rgb(0, 102, 255);
}

#columns a:hover {
	color: rgb(0, 179, 255);
	text-decoration: none;
}

#menuheader {
	background: url(menuheader.gif) no-repeat;
	background-size: 150px;
	height: 19px;
}

#menufooter {
	background: url(menufooter.gif) no-repeat left top;
	background-size: 150px;
	height: 26px;
}

#main {
	width: 839px;
	margin: 5px auto;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	line-height: 130%;
}

#seccolumns {
	float: right;
	width: 240px;
	background: #FFF url(rightcontent.gif);
	text-align:justify;
	color: rgb(0, 0, 0);
}

.maincolumns {
	margin-left: 187px;
	margin-right: 233px;
	max-width: 34.18em;
	background: url(content.gif) top left;
	text-align:justify;
}

.text {
	padding: 40px 15px 20px 15px;
	color: rgb(0, 0, 0);
	background: url(footer.gif) no-repeat left bottom;
}

.text_2 {
	padding: 0px 15px 20px 15px;
	color: #000000;
	background: url(rightfooter.gif) no-repeat left bottom;
}

#info {
	color: #ccc;
	background: #535353;
	font-size: 9px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border:	1px solid #858585;
}

.card { 
    border: 1px solid rgb(255, 255, 255);  
    padding: 2%;
    background-color: #535353; 
   
  } 
  
.list--centre-justify { 
 	display: grid; 
 	place-items: center; 
  } 
   
 .contents-centre-justify { 
	text-align: center; 
  } 
   
.list--no-marker { 
    list-style-type: none; 
  } 

.buttonalt {
    background-color: #535353;
    display: inline-block;
    font-size: 18px;
	color: #e2e2e2;
    margin: 4px 2px;
    cursor: pointer;
  }

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
	font-size: 8pt;
	color: #e2e2e2;
  }

#renderVideo {
	width: 31em;
  }
  
#usage {
	background: #8d8d8d;
	width: 31em;
	padding: 20px;
  }
  @media only screen and (max-width: 600px) {
	body {
	  font-size: 05px;
	}
  }